\---
title: Blog
layout: default
nav: blog
\---

%h1 Blog Posts

%table.posts
  %tbody
    {% for post in site.posts %}
    %tr
      %td.date {{ post.date | date_to_string }}
      %td.title
        %a{ :href => "{{ post.url }}" }
          {{ post.title }}
      %td.tags
        {% for tag in post.tags %}
        %span.tag
          %a{ :href => "{{ site.url }}/blog.html?tag={{ tag | escape }}" }
            {{ tag }}
        {% if forloop.last == false %}, {% endif %}
        {% endfor %}
    {% endfor %}

:javascript
  var params = {};
  (function () {
      var e,
          a = /\+/g,  // Regex for replacing addition symbol with a space
          r = /([^&=]+)=?([^&]*)/g,
          d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
          q = window.location.search.substring(1);

      while (e = r.exec(q))
         params[d(e[1])] = d(e[2]);
  })();

  if ("tag" in params && params["tag"] != "") {
      var tag = params["tag"];
      $(".title").after('<span class="subtitle">tagged under ' + tag + '</span>');

      $(".post_row").each(function(index, element) {

          var remove = true;

          $(element).find(".post_tag a").each(function(i, e) {
              if ($(e).html() == tag)
                  remove = false;
          });

          if (remove)
              $(element).remove();

      });
  }

  if ($(".post_row").length == 0) {
      $("#ramblings").html("");
      $(".posts_body").append('<tr class="post_row"><td><span class="no_posts">There are no posts here, silly!</span></td></tr>');
  }
















