\---
title: Contact
layout: default
nav: contact
\---

%h1 Contact

%p Below are a few ways you can contact me.

%ul.contacts
  %li
    %a{ :href => "https://github.com/kbhomes/" }
      Github repositories
    \- you'll find all of my public projects that have code attached to them
  %li
    Email - sajidanwar94@gmail.com

