\---
layout: default
title: Projects
nav: projects
\---

%h1 Projects

.project
  .project_preview
    %img{:src => "/images/zune.png"}
  .project_details
    %h2.project_title
      %a{:href => "/blog.html?tag=mtpz"} Zune MTPZ Handshake
      %span.project_subtitle [ongoing research]
    %p.project_description
      The Zune family of devices performs a proprietary handshake with authorized Zune
      software in order to unlock the device for syncing. Therefore, on a platform where Zune software does not exist
      (e.g.: Linux), one cannot sync with the device nor modify it.
    %p
      The aim of this project is to reconstruct that handshake, adding it onto the open source libmtp project such that
      media players can benefit from this. The approach I am taking currently is to disassemble the Objective-C application
      Windows Phone 7 Connector for the Mac (which implements this MTPZ handshake).
  .clear

.project
  .project_details
    %h2.project_title
      %a{:href => "https://github.com/kbhomes/TextCaptchaBreaker"} TextCaptchaBreaker
      %span.project_subtitle [hosted on GitHub]
    %p.project_description
      TextCaptchaBreaker was a quick project, written in Python, to demonstrate the effectiveness (or lack thereof) of the
      %a{:href => "http://textcaptcha.com"} textCaptcha service
      as a viable alternative to the current standard of visual CAPTCHAs.
  .clear