<!DOCTYPE html>
<html>
	<head>
		<title>KBHomes - {{ page.title }}</title>
		<link rel="stylesheet" href="/styles/main.css" type="text/css" />
		<link rel="stylesheet" href="/styles/syntax.css" type="text/css" />
		<link rel="alternate"  href="/atom.xml" type="application/atom+xml" title="KBHomes's Atom feed" />
		<script type="text/javascript">

		function addStylesheet(name) {
			var link = document.createElement("link");
			link.rel = "stylesheet";
			link.href = "/styles/" + name;
			link.type = "text/css";
			document.head.appendChild(link);
		}

		</script>
	</head>
	<body class="site">
		<div class="header">
			<div class="logo">
			sajid anwar
			</div>
			<div class="menu">
				<ul class="menu">
					<li><a href="/index.html">home</a></li>
					<li><a href="/blog.html">blog</a></li>
					<li><a href="/projects.html">projects</a></li>
					<li><a>contact</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			{{ content }}
		</div>
		<div class="footer">
			<div class="feed_icon">
				<a href="/atom.xml" title="Atom 1.0 feed"><img src="/images/feed.png" alt="Atom 1.0 feed icon"></img></a>
			</div>
			<div class="footer_inside">
				<div class="footer_left">
					<span class="footer_header">about</span>
					<p>
					I'm Sajid Anwar, and I'm basically a badass. That's right. Programming
					is my favorite hobby, and hopefully (eventually) my career. I'll be posting
					any projects and musings on these pages; perhaps somebody will find them
					useful or even entertaining.
					</p>
				</div>
				<div class="footer_right">
					<span class="footer_header">contact</span>

					<p>I'm social! Here's how you can reach me:</p>

					<a href="https://github.com/kbhomes/">GitHub repositories</a><br/>
					<a href="http://twitter.com/kbhomes">Twitter</a><br/>
					<a href="mailto:kbhomes@this.isnt.real.com">Email</a><br/>

					<p>&lt;3</p>
				</div>
			</div>
		</div>
	</body>
</html>
