<!DOCTYPE html>
<html>
	<head>
		<title>KBHomes - {{ page.title }}</title>
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/post.css" />
		<link rel="stylesheet" href="/styles/syntax.css" />
	</head>
	<body class="site">
		<div class="header">
			<div class="logo">
			KBHomes
			</div>
			<div class="menu">
				<ul class="menu">
					<li><a href="/index.html">home</a></li>
					<li><a href="/blog.html">blog</a></li>
					<li><a>projects</a></li>
					<li><a>contact</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			{{ content }}
		</div>
	</body>
</html>
