table.posts {
  border-spacing: 0;
  width: 100%;

  tr {
    height: 35px;

    td.date {
      color: #666;
      font-style: italic;
      text-align: right;
      width: 150px;

      padding: 0px 20px 0px 0px;
      border-right: 1px solid #aaa;
    }

    td.title {
      padding: 0px 0px 0px 20px;
    }

    td.tags {
      width: 250px;
      text-align: right;

      .tag {
        color: #666;
        text-decoration: underline;
        font-style: italic;
      }
    }
  }
}

.no-posts {
  margin: 10px 0px;
  color: #802020;
  font-style: normal;
}
