/*

Generated via the hex dump at: http://en.webhex.net/dump
and using regex:

	search:		(.{6})\s((.. ){16})(.*)$
	replace:	<tr class="hex_line"><td class="hex_address">$1</td><td class="hex_value">$2</td><td class="hex_ascii">$4</td></tr>

*/

div.hex
{
  height: 350px;
  padding: 10px;
  overflow: auto;
}

table.hex_table
{
  background: #272822;
  color: #f8f8f2;
  padding: 10px;
  border: 1px solid white;
  width: 100%;
  -moz-box-shadow: 0 0 10px 3px #DDD;
  -webkit-box-shadow: 0 0 10px 3px #DDD;
  box-shadow: 0 0 10px 3px #DDD;
  font-family: monospace;
  overflow: auto;
}

td.hex_address
{
  width: 77px;
  text-align: left;
  color: #C0C8E0;
}

td.hex_value
{
  text-align: left;
}

td.hex_ascii
{
  text-align: left;
  color: #E0FFE0;
}