.post {
  .title {
    font-size: 24px;
  }

  .info {
    margin-bottom: 20px;

    .date {
      font-style: italic;
      color: #404040;
    }

    .tag {
      color: #404040;
    }
  }

  .content {

  }
}