div.project
{
	margin-bottom: 30px;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid gray;
}

div.project_preview
{
	float: left;
	padding: 0px 20px 10px 0px;
}
div.project_preview img
{
	border: 1px solid white; 
	-moz-box-shadow: 0 0 10px 3px #DDD;
	-webkit-box-shadow: 0 0 10px 3px #DDD;
	box-shadow: 0 0 10px 3px #DDD;
}

div.project_details
{
}

h2.project_title
{
	margin-top: 0px;
}

span.project_subtitle
{
	color: #555;
	font-weight: normal;
	font-size: 0.6em;
}
