table.posts
{
	border-spacing: 0;
	width: 100%;
}

tr.post_row
{
	height: 35px;
}

td.post_date
{
	color: #666;
	font-style: italic;
	text-align: right;
	width: 150px;

	padding: 0px 20px 0px 0px;
	border-right: 1px solid #aaa;
}

td.post_title
{
	padding: 0px 0px 0px 20px;
}

td.post_tags
{
	width: 250px;
	text-align: right;
}

span.post_tag
{
	color: #666;
	text-decoration: underline;
	font-style: italic;
}

h1.title
{
	margin-bottom: 0px;
}

span.subtitle
{
	font-style: italic;
	margin-bottom: 1em;
	color: #666;
}

span.no_posts
{
	margin: 10px 0px;
	color: #802020;
	font-style: normal;
}
