/* Generic tag declarations */
a { text-decoration: none; color: white; }
a:hover { color: gray; }

.site
{
	font-family: sans-serif;
	color: black;

	margin: 0px auto;
	padding: 0px;
	height: 100%;
	background-color: #FCFCFC;
}

div.header
{
	width: 100%;
	height: 175px;
	margin: 0px auto;
	padding: 0px;

	color: white;
	background-color: #101418;

	position: relative;
}

div.logo
{
	line-height: 130px;
	text-align: center;
	font-size: 30pt;
}

div.menu
{
	background-color: #800000;
	height: 45px;
	width: 100%;

	position: absolute;
	bottom: 0px;
}

ul.menu
{
	list-style: none;
	display: block;
	background-color: #800000;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

ul.menu li
{
	display: inline;
}

ul.menu li a
{
	padding: 0px 2em;
	line-height: 45px;
	text-decoration: none;

	font-size: 14pt;
	color: white;
	background-color: #800000;
}

ul.menu li a:hover
{
	color: #c0c0c0;
}

div.content a { color: #203040; }
div.content
{
	min-height: 300px;
	margin: 10px auto 20px auto;
	width: 950px;
}

div.left
{
	float: left;
	width: 480px;
	padding-right: 20px;
}

div.right
{
	float: right;
	width: 430px;
	padding-left: 20px;
}

div.right h1.title a { text-decoration: none; }
div.right h1.title
{
	font-size: 1.3em;
	margin-bottom: 0px;
}

div.right h2
{
	font-size: 1.2em;
}

div.right span.date
{
	font-style: italic;
	font-size: 0.8em;
	color: #404040;
}

div.footer
{
	clear: both;
	position: relative;
	width: 100%;
	min-height: 250px;
	height: 100%;

	background-color: #303030;
	color: #BBBBBB;
	font-size: 1em;
}

div.feed_icon
{
	position: absolute;
	top: 30px;
	left: 30px;
}
div.feed_icon img
{
	width: 20px;
	height: 20px;
}

div.footer_inside
{
	width: 700px;
	margin: 0px auto;
	padding: 30px 0px;
}

div.footer_left
{
	float: left;
	text-align: right;
	width: 309px;
	padding-right: 40px;
	border-right: 1px solid white;
}

div.footer_right
{
	float: right;
	width: 310px;
	padding-left: 40px;
}

span.footer_header
{
	font-size: 1.5em;
}

.clear
{
	clear: both;
}

span.secret
{
	color: #ccc;
	font-style: italic;
}
